<div id="masthead">
		
		<div class="content_pad">
			<div id="content-header">
			 <img src="/images/manage_investiture/manage_investiture_logo.png" /> 
			  <h1>Readers</h1>
			  <h3>Add New RFID Reader</h3>
			  <div id="app-back-button">
				<%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
			  </div>
			</div>
		</div> <!-- .content_pad -->
		
	</div> <!-- #masthead -->	


<div id="content" class="xgrid">


	<div id="content" class="xgrid">
		       <div id="inner-tab-menu">
	<ul>
<li><%= link_to "View all", :controller => 'readers', :action => 'all' %></li>           
<% if @current_user.admin? %> 
			<li>
			   	 
  <%= link_to "► Edit Reader", 
				        {:controller => "readers",  :action => "edit", :id => @reader.id } %>
			  </li>   
			
			<li>
			   	 <%= link_to "► Delete Reader",
			        { :controller => "readers", :action => "delete", :id => @reader.id },
			        :confirm => 'Are you sure you want to delete this reader?'%>      
				       <% end %> 
				</li>
			
			</div>
			
		<div id="page-yield">
		
		  <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>
		
		    <div id="news_title">
		    	<h3> <%= @reader.reader_name %> </h3>
		    </div>
		          
		<br /> 
		    <div id="news_content"> 
			<b>Reader Tag</b>
		      <%= @reader.reader_tag %>
		    </div>
		       <br />
		 	<div id="news_content"> 
			<b>Location</b> 
		      <%= @reader.location %>
		    </div>
		     
	</div>
	</div>
