<h1 style="margin:0px;font-size:22px;font-weight:normal">Vidhyanagar Panchvati Sagwara Dist.Dungarpur (Raj.)</h1><br/>
<div style="text-align:center;position:relative;top:-10px;">
<span style="font-size:12px;">(Governed by shri Gujrati Lauva  Patidar Samaj Charitable Trust Sagwara)</span>
</div>
<div class="header" style="height:25px;">
	<span class="left" style="float:left;font-size:12px;">Ref. NO.vidh\App.\ 2010\-----</span>
	<span class="right" style="float:right;font-size:12px;">Date -- <%= Date.today %></span>
</div>

<h3 style="text-align:center;">Office Order</h3>
<div style="font-weight:normal;font-size:20px">
Mr/Mrs/Miss&nbsp;<span style="font-size:12px;font-weight:bold"><%= @employee.full_name %></span>  S/oD/o   Mr <span style="font-size:12px;font-weight:bold"><%= @employee.father_name || ".........................." %></span> Age <span style="font-size:20px;font-weight:bold"><%= @employee.age %></span> years  Residence<span style="font-size:12px;font-weight:bold"><%= @employee.address %></span> Qualification <span style="font-size:12px;font-weight:bold"> <%= @employee.qualification || "........................" %> </span>Is appointed  as   a   teacher in flower kids public school vidhayanagar panchvati sagwara from <span style="font-size:12px;font-weight:bold"> <%= @employee.joining_date %></span> to .......... His monthly  pay will be ................./- Rupees.
<br/>
<br/>
<br/>

&nbsp;&nbsp;Terms & conditions <br/>
your service will be discontinued after ................ date
you will have to complete your services  faithfully , devotedly sincerely and according to the rules of vidhyanagar service rules 
</div>
<br/>
<br/>


<h3 style="text-align:center;">Appointee Agreement</h3>
<div style="font-weight:normal;font-size:20px">
1. I have read service rules of the vidhyanagar panchvati <br/>
2. I agree to work in above mentioned  pay. <br/>
3. I will abideby  rules and regulation of vidhyanagar <br/>
<br/>
<span class="little" style="font-size:12px">
Ref. NO.vidh\App.\ 2010\---
</span>
</div>

<br/>
<br/>

<div class="right" style="float:right;font-size:20px">
Signature of the Appointee <br/>
</div>
<br/>
<br/>
<div style="font-weight:normal;font-size:16px">
Copy forwarded to  The following for information & necessary action
</div>
<br/>
<br/>
<div>
<div class="left" style="float:left;font-size:20px;">
Honable chairman, vidhyanagar.<br/>
The Principal flower kids public school<br/>
<br/>
<span class="bold" style="font-size:14px;font-weight:bold">(Personal file	Office copy)</span> 							
</div>	
<div class="right" style="float:right;font-size:20px">
Secretary <br/>
VidyaNagar
</div>                                                         
</div>   
